<html>
    
    <style> body {background-color:#C2C8E6}; h1 {color:#ffffff};
    </style>
    
    <div style = background-color:#2C4673 >
        <br>
        <br>
        <h1 align = center style = color:#ffffff> SPELL CHECKER </h1>
        <br>
        <br>
    </div>
    
    <div>
     <body>
        <br>
        <br>
        <br>
        <form action = "http://localhost:5000/result" method = "POST">
            <h2 align = center> <i><b>Please Enter the word you wish to correct</b> </i></h2>
            <p align = center><input type = "text" name = "Word" /></p>
            <p align = center><input type = "submit" value = "CHECK" /></p>
        </form>
         
        <form action = "http://localhost:5000/result" method = "GET">
            <p align = center><button type="submit">Feeling Lazy</button></p>
        </form>
     </body>
    </div>
    
</html>
